
@section title{
	<h2>
		Welcome to SuperSaver Market Management System!
	</h2>
}
        
<div class="d-flex justify-content-center align-items-center mt-5">
	<h4>We're glad to have you onboard. Let's make today productive!</h4>
	
</div>

